server:
  port: ${PORT:8080}

spring:
  application:
    name: soccer

  datasource:
    url: ${DB_URL:jdbc:mysql://localhost:3306/soccer_db?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC}
    username: ${DB_USER:soccer_user}
    password: ${DB_PASSWORD:soccer_password}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    root: INFO
    com.turkcell.soccer: DEBUG
    org:
      hibernate:
        SQL: INFO
        type:
          descriptor:
            sql: INFO

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true